* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  /* text-align: center; */
  background-color: #191919;
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(48, 47, 47);
  border-radius: 1.5rem;
}

.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 2rem !important;
  /* background-color: #212121; */
  background-color: aliceblue;
}

.css-1akejw3-MuiStack-root {
  flex-direction: row !important;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  flex-wrap: wrap;
}
.homePage--slider.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  flex-wrap: nowrap;
}
